*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.close{
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

.main-header {
    width: 100%;
    height: 75px;
    background: #009688;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.63); 
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.63);
    position: fixed;
    z-index: 10;
}

.main-header-container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#close-menu {
    display: none;
}

.main-header-container .logo {
    font-size: 2rem;
    font-weight: 400;
}

.main-header-container nav {
    height: 100%;
}
.main-header-container ul {
    display: flex;
    justify-content: center;
    height: 100%;
}

.main-header-container ul.close {
    display: none;
}

.main-header-container ul li {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    transition: all ease 200ms;
}
.main-header-container ul li:hover {
    background-color: #00877A;
}

.main-header-container #menu {
    display: none;
    
}


.hero {
    width: 100%;
    height: 400px;
}

.hero ul, .hero li {
    height: 100%;
}

.hero-container.bg1 {
    width: 100%;
    height: 100%;
    background: url(img/resort1.jpg) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.hero-container h1 {
    font-size: 3.5rem;
    font-weight: 400    ;
}

.hero-container p {
    font-size: 1.5rem;
}

.btn {
    text-transform: uppercase;
    background-color: #009688;
    padding: 1.2rem 2rem;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .6px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    transition: background-color ease-in 400ms;
    cursor: pointer;
}

.btn:hover {
    background-color: #00877A;
}

.search {
    width: 100%;
    background-color: #009688 ;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.search h1 {
    font-size: 3rem;
    font-weight: 300;
}

.search input {
    width: 70%;
    padding: 1rem .5rem;
    font-size: 1.2rem;
    color: rgb(158, 158, 158);
    outline: none;
}

.search input::placeholder {
    color: #d1d1d1;
}

.cards {
    color: black;
    width: 100%;
    background-color: #F5F5F5;
    padding: 1rem 0;
}

.cards-container {
    width:  80%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    padding: 2rem 1rem;
    border-radius: 2px;
    align-items: center;
}
.card i {
    font-size: 5rem;
    color: #00877A;
    margin-bottom: 2rem;
}

.card h1 {
    font-size: 2.2rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.card p {
    text-align: center;
}

.popular-places {
    width: 100%;
    background-color: #FFFFFF;
    
}

.popular-places-container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem 0;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular-places-container h1 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
    text-align: center;
}

.popular-places-container h1 span {
    color: #00877A;
}

.popular-places-container .places {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 2rem;
}

.popular-places-container .place {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
}

.popular-places-container .place .place-top {
    height: 270px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    background: url(img/resort1.jpg) no-repeat center center/cover;
    padding-left: 1rem;
    color: white;
}

.popular-places-container .place .place-bottom {
    padding: 1.2rem 1rem;
    color: black;
    font-size: .93rem;
    font-weight: 400;
}

.btn.btn-contact {
    background-color: #424242;
}

.social {
    width: 100%;
    background-color: #00897B;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.social h1 {
    font-size: 2.28rem;
    font-weight: 400;
}

.social h3 {
    font-size: .8rem;
    font-weight: 400;
}

.social .social-links ul {
    display: flex;
    gap: 1rem;
}

.gallery {
    width: 100%;
    padding: 2rem;
}

.gallery h1 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
    text-align: center;
    color: black;
}

.gallery h1 span {
    color: #00877A;
}

.gallery .gallery-grid {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.gallery-grid img {
    width: 100%;
    transition: transform ease 300ms;
    cursor: zoom-in;
    z-index: 1;
    overflow: hidden;
}

.gallery-grid img:hover {
    transform: scale(1.03);
}

.gallery-item-container {
    transition: all ease-in 300ms;
}

.gallery-item-container.open {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.87);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: zoom-out;
}

.gallery-item-container.open img {
    width: 50%;
    transition: all ease-in 300ms;
}

.gallery-item-container.open img:hover {
    transform: none;
}


.contact {
    width: 100%;
}



.contact-container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.contact-info {
    background-color: #009688;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    max-height: 300px;
}

.contact-info i {
    font-size: 4rem;
}
.contact-info h1 {
    font-size: 1.6rem;
    font-weight: 400;
}

.contact-info p {
    text-align: center;
    font-size: .95rem;
    font-weight: 400;
}

.contact-container form {
    background-color: #EEEEEE;
    padding: 2rem 1.5rem;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

.contact-container form h1 {
    color: rgba(0,0,0,0.8);
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.form-input {
    margin-bottom: 1rem;
}

.form-input:focus-within label {
    color: #00877A;
}

.form-input:focus-within input{
    border-bottom: 2px solid #00877A;
}

.form-input label {
    display: block;
    margin-bottom: .2rem;
    color: rgb(158, 158, 158);
    font-size: .9rem;
    font-weight: 400;
}

.form-input input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(158, 158, 158);
    width: 100%;
    outline: none;
    padding: .5rem 0;
}

.form-input input::placeholder {
    color: #d1d1d1;
}

.form .btn {
    margin-top: 2rem;
}

.location {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.87);
    border: 1px solid #E0E0E0;
    transform: translateY(-160px);
}

.location h1 {
    padding: 2rem 1rem 1.5rem 1rem;
    border-bottom: 1px solid #E0E0E0;
    font-size: 2.2rem;
    font-weight: 400;
}

.location p {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #E0E0E0;

}

.footer {
    width: 100%;
    padding: 2rem;
    color: white;
    background-color: #009688;
    text-align: center;
}

.footer h1 {
    font-size: 1.68rem;
    font-weight: 400;
}

@media (max-width: 900px) {
    #close-menu {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: 30;
        font-size: 2rem;
        display: none;
        transition: all ease 400ms;
    }

    #close-menu.show {
        display: block;
    }
    .main-header-container nav {
        position: absolute;
        top: 0;
        left: -100vw;
        background-color: black;
        width: 100vw;
        height: 100vh;
        opacity: .9;
        transition: all ease 300ms;
    }

    .main-header-container nav.open {
        left: 0;
    }
    
    .main-header-container nav ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center ;
        height: 100%;
        width: 40%;
        background-color: #00877A;
    }
    
    .main-header-container ul li {
        width: 100%;
        padding: 2rem;
        height: initial;
        background-color: #00877A;
        display: flex;
        justify-content: center;
    }
    
    .main-header-container ul li:last-of-type {
        
    }
    
    
    .main-header-container #menu {
        
        display: block;
    }
    
}